# ====================================
# Ignore dependencies
# ====================================
node_modules/

# ====================================
# Ignore build file
# ====================================
# gulpfile.js